/*----------------4.ideas----------------------------*/
.ideas{
	padding-top: 31px;
	text-align: center;

	h2{
		padding: 0 0 15px 0;
		font-size: 22px;
		color:#333;
	}
}
.idea{
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
	height: 120px;
	font-size: 22px;
	color:#fff;

	h3{
		height:100%;
		margin: 0 10px 0 10px;
		padding: 0 15px;
		border-radius: 3px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		line-height:120px;

		a{
			position: relative;
			display:inline-block;
			width: auto;
			padding-bottom: 7px;
			border-bottom: 3px solid transparent;
			font-size: 22px;
			line-height: 22px;
			text-decoration: none;
			vertical-align: middle;
			color: #fff;
			-ms-transform: translateX(0);
			transform: translateX(0);

			&:before{
				content:'';
				position: absolute;
				z-index: -1;
				left: 50%;
				right:50%;
				bottom: 0;
				background: #fff;
				height: 3px;
				transition-property: left right;
				transition-duration: 0.3s;
				transition-timing-function: ease-out;
			}

			&:hover:before{
				left: 0;
				right:0;
			}
		}
	}
}
.ideaBg1{
	background-image:url(../../img/sport.jpg);
}
.ideaBg2{
	background-image:url(../../img/health.jpg);
}
.ideaBg3{
	background-image:url(../../img/extreme.jpg);
}
.ideaBg4{
	background-image:url(../../img/game.jpg);
}
.ideaBg5{
	background-image:url(../../img/culture.jpg);
}
.ideaBg6{
	background-image:url(../../img/relaxation.jpg);
}
.ideaBg7{
	background-image:url(../../img/travelling.jpg);
}
