/*----------------3.partners-------------------------*/
.partners{
	padding-top: 23px;
	text-align: center;

	h2 {
		padding: 0 0 15px 0;
		font-size: 22px;
		color:#333;
	}
}
.partnersGroup{
	width: 77%;
	margin: 0 auto;
	padding-bottom: 5px;
}
.partner{
	float: left;
	padding: 0 0 27px 0;
}
.photo{
	position: relative;
	height: 120px;
	width: 120px;
	margin: 0 auto;

	img{
		display: block;
		width: 100%;
		border-radius: 60px;
	}
}
@mixin iconPartner{
	content: '';
	position: absolute;
	display: block;
	bottom: -5px;
	right: 0;
	width: 41px;
	height: 41px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
}
.photo-icon1:after{
	@include iconPartner;
	@include sprite-position($rest);
}
.photo-icon2:after{
	@include iconPartner;
	@include sprite-position($happy);
}
.photo-icon3:after{
	@include iconPartner;
	@include sprite-position($nature);
}
.photo-icon4:after{
	@include iconPartner;
	@include sprite-position($game);
}
.name{
	display: inline-block;
	margin: 0;
	padding: 15px 0 15px 0;
	font: bold 14px 'Montserrat', sans-serif;
	text-decoration: none;
	color:#333;

	&:hover{
		color:#ff4e50;
	}
}
.opinion{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color:#666666
}
.btnPartners{
	display: block;
	width: 92%;
	margin: 0 auto;
	padding: 8px 0;
	border: 1px solid #ff4e50;
	border-radius: 20px;
	font: bold 14px 'Montserrat', sans-serif;
	text-decoration: none;
	color:#ff4e50;

	&:hover{
		background-color: #ff4e50;
		color:#fff;
	}
}
