/*----------------5.search---------------------------*/
.search{
	padding-top: 25px;
	padding-bottom: 43px;
	text-align: center;
	color:#333;

	h2{
		font-size: 22px;
	}
}
.queryLabel{
	padding: 9px 0 17px 0;
	display: block;
	font-size: 18px;
}

.query{
	display: block;
	width: 88%;
	margin: 0 auto 10px;
	padding: 11px 2%;
	border-radius: 4px;
	border: 1px solid #999;
	color: #999;
}
.btnSubmit{
	display: block;
	width: 93%;
	margin: 0 auto;
	padding: 7px 0;
	background-color: #ff4e50;
	border: 2px solid #ff4e50;
	border-radius: 20px;
	font: bold 14px 'Montserrat', sans-serif;
	text-decoration: none;
	color:#fff;
	cursor: pointer;

	&:hover{
		background-color: #fff;
		border: 2px solid #ff4e50;
		color: #ff4e50;
	}
}
