/*-------0.general-----------------------------------------*/
body {
  padding:0;
  margin:0;
}
.wrapper {
  width:825px;
  margin:0 auto;
}
h2 {
  text-align:center;
  margin-top:50px;
}
.clearfix:after {
  content:'';
  display:block;
  clear:both;
  visibility:hidden;
  height:0px;
}
/*---------1.carousel general--------------------------------*/
.carousel {
  position:relative;
}
.carousel-hider { 
  width:602px;
  overflow:hidden;
  margin:0 auto;
}
.carousel-list {
  position:relative;
  margin:0;
  padding:0;
  list-style:none;
  width:10000px;
}
.carousel-arrow-left,
.carousel-arrow-right {
  position:absolute;
  top:10px;
  padding:5px;   
  border:1px solid grey;
  background-color:lightgrey;   
}
.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  cursor:pointer;
  background-color:gray;
} 
.carousel-arrow-left {
  left:0;  
}
.carousel-arrow-right {
  right:0; 
}
/*------2.carousel-1---------------------------------------*/
.carousel-1 li{
  display:block;
  float:left;
  width:200px;
  margin-right:25px;
  text-align:center;
  border:solid 1px black;
}
/*------3.carousel-2---------------------------------------*/
.carousel-2 li{
  display:block;
  float:left;
  width:300px;
  margin-right:25px;
  text-align:center;
  border:solid 1px black;
}
