/*------0. general-------------------------------------*/
body {
  padding:0;
  margin:0;
}
h1 {
  margin:0;
  padding:50px 0 30px 0;
  font-family:Arial;
  text-align:center;
}
.clearfix:after {
  content:'';
  display:block;
  clear:both;
  height:0px;
  visibility:hidden
}
.box {
  position:relative;
  max-width:600px;
  margin:0 auto;
  padding:0 30px 70px; 
}
.iLink {
  font: bold 14px Arial;  
  color:black;
  text-decoration:none;
}
.iLink:hover {
  text-decoration:underline;
}
/*------1. Plugin Carousel-----------------------------*/
.box-carousel {
  position:relative;
}
.jcarousel {
  width:80%;
  margin:0 auto;
  padding:50px 0;
  position:relative;
  overflow:hidden;
}
.jcarousel ul {
  position:relative;
  width:3600px;
  list-style:none inside none;
  margin:0;
  padding:0;
}
.jcarousel ul li {
  float: left;
  text-align: center;
  width:200px;  
}
.jcarousel-prev,
.jcarousel-next  {
  position:absolute;
  top:50%;
  width:10px;
  height:10px;
  padding:5px;
  margin-top:-11px;
  border-radius:3px;
  border:1px solid black;
  text-align:center;
  text-decoration:none;
  font-weight:900;
  line-height:9px; 
  color:lightgray; 
}
.jcarousel-prev:hover,
.jcarousel-next:hover  {
  color: black;
}
.jcarousel-prev {
  left:0;
}
.jcarousel-next {
  right:0;
}
.jcarousel-pagination {
  position:absolute;
  bottom:0;
  right:0;
}
.jcarousel-pagination a {
  display:inline-block;
  margin:0 0 0 10px;
  width:10px;
  height:10px;
  border-radius:3px;
  border:1px solid black;
}  
.jcarousel-pagination a:hover {
background-color:lightgray;
}
.active {
  background-color:black;
}
/*-----2. Plugin Form---------------------------------*/
.form {
  padding:0;
}
.formContent {
  margin-bottom:70px;  
}
.form-part {
  float:left;
  width:50%;
}
/*------2.1 Plugin Select---------------------------*/
.wrapperSelect {
  padding-top:50px;
}
/*------2.2 Plugin Checkbox-------------------------*/
.wrapperCheckbox {
  padding-top:50px;
}
.itemCheckbox {
  padding-bottom:7px;
}
/*--------3. Menu-----------------------------------*/
.boxMenu {
  padding:50px 0 120px 0;
}
.menu,
.submenu,
.subsubmenu {
  padding: 0;
  margin: 0;
  list-style: none inside none;  
}
.menu li {
  float:left;
  position:relative;
  border-left:1px solid black;  
}
.menu li:first-child {
  border:none;
} 
.menu li a{
  display:block;
  padding: 5px 20px;
  color:black;
  text-decoration:none;
}
.menu li a:hover {
  background-color: lightgray;
}   
.submenu {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  width:120px;
  border:1px solid black;
  border-radius:3px;
}
.submenu li{
  float:none;
  border:none;
}  
.subsubmenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; 
  width: 120px;
  border: 1px solid black;
  border-radius:3px;  
}
/*---------3.1 Menu CSS-------------------------------*/
.menuCss li:hover .submenu,
.submenuCss li:hover .subsubmenu  {
  display:block;
}
/*----------3.2 Menu jQuery----------------------------*/
.activeMenu {
  display:block;
}
/*----------4. Accordion------------------------------*/
.plugin {
  padding:20px 0 70px 0; 
  cursor:pointer; 
}
.accordion h3 {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  font-family: Arial;
  color:lightgray;
}
h3:focus {
 outline:none;
}
.accordion h3:hover {
  color:black;  
}
h3.activeSection {
  color:black; 
} 